
<link rel="stylesheet" href="~/Welcome.css">

<div id="welcomeWrapper">
    <div id="toggleBtns">
        <button id="loginBtn">Login</button>
        <button id="signupBtn">Singup</button>
    </div>
    <div id="togglePanel">
        <form method="POST" action="/User/Login">
            <label for="Name">Name</label>
            <input id="Name" name="Name" required />
            <label for="Pwd">Pwd</label>
            <input id="Pwd" name="Pwd" type="password" required />
            <button type="submit">login</button>
        </form>
    </div>
</div>

<template>
    <form method="POST" action="/User/Login">
        <label for="Name">Name</label>
        <input id="Name" name="Name" required />
        <label for="Pwd">Pwd</label>
        <input id="Pwd" name="Pwd" type="password" required />
        <button type="submit">login</button>
    </form>
</template>
<template>
    <form method="POST" action="/User/Signup">
        <label for="Name">Name</label>
        <input id="Name" name="Name" required />
        <label for="Pwd">Pwd</label>
        <input id="Pwd" name="Pwd" type="password" required />
        <button type="submit">sign up</button>
    </form>
</template>
<script src="~/Welcome.js"></script>