

<form method="POST" action="/User/Signup">
    <input name="username" />
    <input name="password" />
    <button type="submit">sign up</button>
</form>

<form method="POST" action="/User/Login">
    <input name="username" />
    <input name="password" />
    <button type="submit">login</button>
</form>