
<link rel="stylesheet" href="~/Welcome.css">

<div id="welcomeWrapper">
    <div id="toggleBtns">
        <button id="loginBtn">Login</button>
        <button id="signupBtn">Singup</button>
    </div>
    <div id="togglePanel">
        <form method="POST" action="/User/Login">
            <input name="Name" />
            <input name="Pwd" type="password" />
            <button type="submit">login</button>
        </form>
    </div>
</div>

<script src="~/Welcome.js"></script>