



<link rel="stylesheet" href="~/User.css">
<div id="UserInfo">
    <form method="POST" action="/User/Signup">
        <input name="Name" />
        <input name="Pwd" />
        <button type="submit">sign up</button>
    </form>

    <form method="POST" action="/User/Login">
        <input name="Name" />
        <input name="Pwd" />
        <button type="submit">login</button>
    </form>
</div>
