

<link rel="stylesheet" href="~/UserCenter.css">

<div id="UserInfo">
    <div id="Detail">
        <h3 id="Title">@ViewBag.UserInfo.Name's Info:</h3>
        <p id="Id">Id:@ViewBag.UserInfo.Id</p>
        <span>Name:</span><span id="name">@ViewBag.UserInfo.Name</span>
        <p>Created:@ViewBag.UserInfo.Created</p>
        <p>Last Login:@ViewBag.UserInfo.LastLogin</p>
    </div>
    <div id="Avatar">
        <form method="POST" action="/User/EditAvatar/@ViewBag.UserInfo.Id" enctype="multipart/form-data" onsubmit="UploadFile(this);return false;">
            <div id="Avatars">
                <img src="data:image/png;base64, @ViewBag.UserInfo.Avatar" width="128" height="128">
                <img id="Preview" width="128" height="128">
            </div>

            <input type="file" id="avatar" name="avatar" value="Choose Photo">

            <button type="submit" disabled>Update Avatar</button>
        </form>
    </div>
</div>



<script src="~/User.js" defer></script>
<script>
    window.onload = () => {
        
    }
</script>