@model BBS.Models.User
@using System.Security.Claims;

    @if (Model.Id == Convert.ToInt32(User.FindFirst(ClaimTypes.Sid)?.Value))
    {
        <h3><a href="/UserCenter">@Model.Name</a></h3>
    }
    else
    {
        <h3><a href="/User/@Model.Id">@Model.Name</a></h3>
    }
    <p>Created:@Model.Created</p>
    <p>Last Login:@Model.LastLogin</p>
