
<h3>@ViewBag.UserInfo.Name's Info:</h3>
<p>Id:@ViewBag.UserInfo.Id</p>
<p>Name:@ViewBag.UserInfo.Name</p>
<p>CreatedDate:@ViewBag.UserInfo.CreatedDate</p>
<p>LastLoginDate:@ViewBag.UserInfo.LastLogin</p>
