@using System.Security.Claims;
@{
    int Id = Convert.ToInt32(User.FindFirst(ClaimTypes.Sid)?.Value);
    string Name = User.FindFirst(ClaimTypes.Name)?.Value!;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BBS</title>
    <link rel="stylesheet" href="~/_Layout.css">
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.4/dist/quill.snow.css" rel="stylesheet">
</head>

<body>
    <header>
        <div id="navLeft">
            <a href="/">Home</a>
            <a href="/Post/1">Post</a>
        </div>
        <div id="navRight">
            @if (User.Identity!.IsAuthenticated)
            {
                <a id="userlink" class="@Id" asp-controller="User" asp-action="UserCenter">Hello! @(Name)</a>
                <img id="userLink"></img>
                <div></div>
                <a href="/Logout">Logout</a>
                <a id="Chat" href="">ChatWindow</a>
                <a id="notification" href="">Notif</a>
                <div id="notificationList">
                    <h4>notifications</h4>
                </div>

            }
            else
            {
                <a asp-controller="User" asp-action="Index">Login/Signup</a>
            }
        </div>
    </header>
    <main>
        <br>
        @RenderBody()
        <br>
        <br>
    </main>
    <footer>example footer</footer>
    <script src="~/_Layout.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.4/dist/quill.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    @switch (ViewContext.HttpContext.Request.Path.Value?.Split("/")[1])
    {
        case "":
            <script src="~/Home.js" defer></script>
            break;
        case "Welcome":
            <script src="~/Welcome.js" defer></script>
            break;
        case "UserCenter":
            <script src="~/UserCenter.js" defer></script>
            break;
        case "User":
            <script src="~/UserPage.js" defer></script>
            break;
        case "Post":
            <script src="~/PostCommon.js" defer></script>
            if (ViewContext.HttpContext.Request.Path.Value?.Split("/")[2] == "Detail"){
                <script src="~/PostDetail.js" defer></script>
            }
            else{
                <script src="~/Post.js" defer></script>
            }
            break;
    }
</body>

</html>