<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BBS</title>
    <link rel="stylesheet" href="~/_Layout.css">
</head>

<body>
    <header>
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="User" asp-action="Index">UserCenter</a>
        <a asp-controller="Post" asp-action="Index">Post</a>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>example footer</footer>
    <script src="~/_Layout.js"></script>
</body>

</html>