@using System.Security.Claims;
@{
    int Id = Convert.ToInt32(User.FindFirst(ClaimTypes.Sid)?.Value);
    string Name = User.FindFirst(ClaimTypes.Name)?.Value;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BBS</title>
    <link rel="stylesheet" href="~/_Layout.css">
    <link rel="stylesheet" href="~/richtexteditor/rte_theme_default.css" />
    <script type="text/javascript" src="~/richtexteditor/rte.js"></script>
    <script type="text/javascript" src="~/richtexteditor/plugins/all_plugins.js"></script>
</head>

<body>
    <header>
        <div id="navbar">
            <a asp-controller="Home" asp-action="Index">Home</a>
            <a asp-controller="Post" asp-action="Index">Post</a>
        </div>
        <div id="user">
            @if (User.Identity.IsAuthenticated)
            {
                <a id="userlink" asp-controller="User" asp-action="UserCenter">Hello! @(Name)</a>
                <a asp-controller="User" asp-action="Logout">Logout</a>
            }
            else
            {
                <a asp-controller="User" asp-action="Index">Login/Signup</a>
            }
        </div>
    </header>
    <main>
        <br>
        @RenderBody()
        <br>
        <br>
    </main>
    <footer>example footer</footer>
    <script src="~/_Layout.js"></script>
</body>

</html>