* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
/*    transition: 0.5s;*/
    font-size: 1.1rem;
}

:root {
    --header-height: 1.35rem;
    --main-height: 90%;
    --footer-height: 5%;
    --home-page-width: 95%;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 0;
}

html {
    /*    min-height: 100%;*/
}


body {
    position: absolute;
    left: 2.5%;
    width: var(--home-page-width);
    min-height: 100vh;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

header {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    height: var(--header-height);
    width: var(--home-page-width);
    align-self: center;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    transition: 0.5s;
    z-index: 99;
    background-color: white;
}

#navbar {
    position: absolute;
    left: 1rem;
}

#user {
    position: absolute;
    right: 1rem;
    background-color: antiquewhite;
    border-radius:5px;
}
    #user > * {
        background-color: antiquewhite;
        border-radius: 5px;
    }



#UserMenu {
    display: none;
    position: absolute;
    width:100%;
    z-index: 99;
/*    background-color:antiquewhite;*/
}

.usermenu_show {
    display: block;
}

.header_hide {
    position: fixed;
    top: calc(var(--header-height)*-1);
    transition: 0.5s;
}

main {
    position: static;
    height: 100%;
    width: 100%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    overflow: hidden;
}


script {
    visibility: hidden;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
