* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
    font-family: monospace;
    /* background-color: black !important;
    color: white !important; */
}

:root {
    --header-height: 1.35rem;
    --main-height: 90%;
    --footer-height: 5%;
    --home-page-width: 95%;
    overflow-y: auto;
    overflow-x: hidden;
    --main-color: white;
    --font-color: black;
}

::-webkit-scrollbar {
    width: 0;
}


/*Temperary*/
#userlink {
    display: none;
}

/*Temperary*/

body {
    position: absolute;
    left: 2.5%;
    width: var(--home-page-width);
    min-height: 100vh;
    scroll-behavior: smooth;
    scrollbar-width: 0;
    background-color: var(--main-color);
    background-image: url(https://garden.spoonflower.com/c/14227021/p/f/m/LCcK28a2wICLKqTrti0CvRaMLDCIrIsim-GDq-q5bC1GBeOjeuEy/Blue%20stars.jpg);
}

header {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    height: var(--header-height);
    width: var(--home-page-width);
    align-self: center;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    transition: 0.5s;
    z-index: 99;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

#navLeft {
    position: absolute;
    left: 1rem;
}

#navRight {
    position: absolute;
    right: 1rem;
    border-radius: 5px;
}

#navRight>img+div {
    /* display: block; */
    position: absolute;
    top: 2.5rem;
    right: 5rem;
    border-radius: 1rem;
    border: 1px solid grey;
    opacity: 1;
    transition: 0.5s;
    /* z-index: 1; */
}

.userInfoShow {
    opacity: 1;
    transition: 0.5s;
}

#navRight>img+div>* {
    font-size: 0.8rem;
    margin: 0.3rem;
}
#navRight>li{
    margin: 0 !important;
}

.header_hide {
    position: fixed;
    top: calc(var(--header-height)*-1);
    transition: 0.5s;
}

main {
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: var(--header-height);
    margin-bottom: var(--footer-height);
    border-left: 1px solid black;
    border-right: 1px solid black;
    overflow: hidden;
    transition: 0.2s;
}


script {
    visibility: hidden;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    text-align-last: center;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}




#navLeft>*:not(:hover) {
    color: black;
    transition: 0.5s;
    margin: 0.5rem;
}

#navLeft>*:hover {
    color: lightgray;
    transition: 0.5s;
    margin: 0.5rem;
}

#navRight>* {
    margin: 0;
}

img#userLink {
    position: absolute;
    left: -2rem;
    top: -0.3rem;
    width: 1rem;
    height: 1rem;
    border-radius: 99rem;
}

img#userLink+div {
    position: absolute;
}

img#userLink:hover {
    position: absolute;
    left: -4rem;
    top: -0.3rem;
    width: 3rem;
    height: 3rem;
    border-radius: 99rem;
    transition: 0.5s;
    cursor: pointer;
}

img#userLink:not(:hover) {
    position: absolute;
    left: -2rem;
    top: -0.3rem;
    width: 1rem;
    height: 1rem;
    border-radius: 99rem;
    transition: 0.5s;
}

#navRight>*:not(:hover) {
    color: black;
    transition: 0.5s;
    margin: 0.5rem;
}

#navRight>*:hover {
    color: lightgray;
    transition: 0.5s;
    margin: 0.5rem;
}

#notificationList {
    display: none;
    position: fixed;
    top: 1rem;
    right: 0;
    border: 1px solid black;
    border-radius: 1rem;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.showNotificationList {
    display: block !important;
}

#notificationList>* {
    font-size: 0.8rem;
    margin: 0.5rem;
}

#notificationList>*:hover {
    background-color: lightgray;
    transition: 0.5s;
}

#notificationList>*:not(:hover) {
    background-color: var(--main-color);
    transition: 0.5s;
}



.ChatWindow {
    position: fixed;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 20rem;
    width: 20rem;
    border: 1px solid grey;
    border-top-left-radius: 0.5rem;
    resize: none;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}


/*Welcome*/
#welcomeWrapper {
    position: relative;
    margin: 1rem 20% 1rem 20%;
    border: 1px solid grey;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 1rem;
}

#toggleBtns {
    position: relative;
    display: flex;
    flex-direction: row;
    width: max-content;
    margin: 0 auto;
}

#toggleBtns>* {
    width: 4rem;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px 5px 5px 5px;
}

#toggleBtns>*:hover {
    background-color: var(--main-color);
    transition: 0.3s;
}

#togglePanel {
    position: relative;
    height: 100%;
    margin: 1rem 30% auto 30%;
}

#togglePanel>* {
    margin: 1rem;
}

#togglePanel>div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#togglePanel>div>input{
    width: 100%;
}

#togglePanel>div>p {
    font-size: 0.8rem;
}

#togglePanel>div>button {
    position: relative;
    width: min-content;
    left: 50%;
    border-radius: 5px;
    border: 1px solid grey;
}

#submitSignupBtn{
    width: 5rem !important;
}



#pwdSecurityIndicator {
    display: flex;
    flex-direction: row;
}

#pwdSecurityIndicator>* {
    height: 0.2rem;
    width: calc(100%/3);
}


/*Post*/
.EditButton,
.ReplyButton {
    cursor: pointer;
    border: 1px black solid;
    border-radius: 3px;
}

.EditButton:hover {
    color: blue;
}

.ReplyButton:hover {
    color: blue;
}

#PostFormWrapper {
    position: relative;
    margin: 1rem 2rem 1rem 2rem;
}

.showCreatePost {
    display: block !important;
}

.timeIndicator {
    position: absolute;
    right: 0;
    bottom: 0;
    color: grey;
}

.timeIndicator>span {
    font-size: 0.8rem;
}

p.timeIndicator {
    font-size: 0.8rem;
    text-align-last: end;
}


.PostUnit {
    position: relative;
    border-radius: 1rem;
    background-color: #ffffff88;
    margin: 0.3rem 8px 0.3rem 6px;
    transition: 0.5s;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}
.PostUnit>* {
    margin: 0.5rem;
}

.LikeBtn {
    position: absolute;
    right: 0;
    z-index: 1;
}

#PostContent {
    position: relative;
    margin: 0.3rem 8px 0.3rem 6px;
}


.ReplyUnit {
    position: relative;
    border-radius: 1rem;
    background-color: #ffffff88;
    margin: 0.3rem 8px 0.3rem 6px;
    transition: 0.5s;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}
.ReplyUnit>* {
    margin: 0.5rem;
}

.hideEditPost {
    display: block !important;
}

#PostFormWrapper {
    display: none;
}


@keyframes example {
    from {
        left: 0;
        width: 100%;
    }

    to {
        left: 100%;
        width: 0%;
    }
}

/*User*/


#UserInfo {
    display: flex;
    position: relative;
    flex-direction: column;
    height: max-content;
    width: calc(100%-4rem);
    justify-content: space-between;
    gap: 1rem;
    margin: 1rem 2rem 1rem 2rem
}

.UserInfo>img {
    width: 3rem;
    height: 3rem;
    border-radius: 99rem;
}

#User {
    display: grid;
    grid-template-areas: "A B" "C D" "E F";
    gap: 2rem;
    position: relative;
    height: max-content;
    width: calc(100%-4rem);
    margin: 1rem 2rem 1rem 2rem;
    line-height: 1.5rem;
}

#Detail {
    grid-area: A;
}

#Avatar {
    grid-area: B;
}
#Avatars>img{
    border-radius: 99rem;
}
#friends>img{
    border-radius: 99rem;
}

#Posts {
    position: relative;
    height: 8em;
    overflow-y: auto;
    grid-area: C;
}

#Replies {
    position: relative;
    height: auto;
    overflow-y: auto;
    grid-area: D;
}

#User>* {
    position: relative;
    border-radius: 1rem;
    background-color: #ffffff88;
    transition: 0.5s;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

#User>*>* {
    margin: 0.5rem;
}



#avatar {
    display: none;
}

label[for="avatar"]:not(:hover) {
    border: 1px solid white;
    transition: 0.5s;
    cursor: pointer;
}

label[for="avatar"]:hover {
    border: 1px solid black;
    transition: 0.5s;
    cursor: pointer;
}

#updateAvatarBtn {
    display: none;
}

label[for="updateAvatarBtn"]:not(:hover) {
    border: 1px solid white;
    transition: 0.5s;
    cursor: pointer;
}

label[for="updateAvatarBtn"]:hover {
    border: 1px solid black;
    transition: 0.5s;
    cursor: pointer;
}




/*Chat*/
#chatInput>button {
    border-radius: 5px;
}


#backtoChatRoomListBtn {
    position: absolute;
    top: 0;
    width: 5ch;
    margin: 0.2rem;
    border-radius: 5px;
}

#chatRoomMemberListBtn {
    position: absolute;
    top: 0;
    right: 0;
    width: 8ch;
    margin: 0.2rem;
    border-radius: 5px;
}

#chatroomList,
#chatContent {
    overflow-y: auto;
    position: relative;
    top: 2rem;
    height: 15.5rem;
    margin: 0.2rem;
}

#chatContent * {
    position: relative;
}

#chatInput {
    margin: 0.2rem;
}

#chatroomList>ul>li:not(:hover) {
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
    cursor: pointer;
    transition: 0.5s;
}

#chatroomList>ul>li:hover {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    transition: 0.5s;
    cursor: pointer;
}

#chatContent>ul>li:not(:hover) {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    cursor: default;
    transition: 0.5s;
}

#chatContent>ul>li:hover {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    cursor: default;
    transition: 0.5s;
}

#sendButton {
    width: 5ch;
}



@media (max-width:800px) {
    #User {
        grid-template-areas: "A" "B" "C" "D" "E" "F";
    }

    header {
        bottom: 0;
        top: auto;
        border-radius: 0.5rem 0.5rem 0 0;
        border-top: 1px solid black;
        border-bottom: 0;
        zoom: 1.3;
        margin-bottom: 0;
    }

    main {
        margin: 0 1rem 1.5rem 0;
    }

    footer {
        display: none;
    }

    img#userLink:hover {
        position: absolute;
        left: -4rem;
        top: -2.5rem;
        width: 3rem;
        height: 3rem;
        border-radius: 99rem;
        transition: 0.5s;
        cursor: pointer;
    }

    .ChatWindow {
        bottom: var(--header-height);
    }

    #notificationList {
        top: -27.5rem;
    }

    #welcomeWrapper{
        margin: 1rem;
    }
    #togglePanel{
        margin: 1rem 20% auto 20%;
    }
    #togglePanel>div>input{
        width: 100%;
    }

    .timeIndicator>span {
        font-size: 0.55rem;
    }
}