* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 0.5s;
    font-size: 1.1rem;
}

:root {
    --header-height: 1.35rem;
    --main-height: 90%;
    --footer-height: 5%;
    --home-page-width: 100%;
    overflow: auto;
}

html {
    min-height: 100%;
}

body {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    height: var(--header-height);
    width: var(--home-page-width);
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    transition: 0.5s;
    z-index: 99;
    background-color: white;
}

.header_show {
    position: fixed;
    top: 0;
    height: var(--header-height);
    transition: 0.5s;
}

.header_hide {
    position: fixed;
    top: calc(var(--header-height)*-1);
    transition: 0.5s;
}

main {
    position: static;
    top: var(--header-height);
    height: auto;
    width: var(--home-page-width);
    border-left: 1px solid black;
    border-right: 1px solid black;
    overflow: hidden;
}

script {
    visibility: hidden;
}

footer {
    position: absolute;
    width: var(--home-page-width);
    bottom: 0;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}