/*----------------------------------------------------------------------------------------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
    position: relative;
}

:root {
    --header-height: 1.35rem;
    --main-height: 90%;
    --footer-height: 1.35rem;
    --home-page-width: 95%;
    overflow-y: auto;
    overflow-x: hidden;
    --main-color: white;
    --font-color: black;
}

::-webkit-scrollbar {
    width: 0;
}




body {
    position: absolute;
    left: 2.5%;
    width: var(--home-page-width);
    min-height: 100vh;
    scroll-behavior: smooth;
    scrollbar-width: 0;
    background-color: var(--main-color);
    background-image: url(https://garden.spoonflower.com/c/14227021/p/f/m/LCcK28a2wICLKqTrti0CvRaMLDCIrIsim-GDq-q5bC1GBeOjeuEy/Blue%20stars.jpg);
}

header {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    height: var(--header-height);
    width: var(--home-page-width);
    align-self: center;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    transition: 0.5s;
    z-index: 99;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}





.header_hide {
    position: fixed;
    top: calc(var(--header-height)*-1);
    transition: 0.5s;
}

main {
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: var(--header-height);
    margin-bottom: var(--footer-height);
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    overflow: hidden;
    transition: 0.2s;
}


script {
    visibility: hidden;
}

footer {
    position: absolute;
    width: 100%;
    height: var(--footer-height);
    bottom: 0;
    border: 1px solid grey;
    text-align-last: center;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

/*----------------------------------------------------------------------------------------------------*/

/*Temperary*/
#userlink {
    display: none;
}

/*Temperary*/


#userLink {
    border-radius: 99rem;
    width: var(--header-height);
    height: var(--header-height);
}


.userInfoShow {
    opacity: 1;
    transition: 0.5s;
}


svg {
    width: 16px;
    height: 16px;
}

/*----------------------------------------------------------------------------------------------------*/


#notificationList {
    display: none;
    position: fixed;
    top: 1rem;
    right: 0;
    border: 1px solid grey;
    border-radius: 1rem;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.showNotificationList {
    display: block !important;
}

#notificationList>* {
    font-size: 0.8rem;
    margin: 0.5rem;
}

#notificationList>*:hover {
    background-color: lightgray;
    transition: 0.5s;
}

#notificationList>*:not(:hover) {
    background-color: var(--main-color);
    transition: 0.5s;
}



.ChatWindow {
    position: fixed;
    right: 0;
    bottom: var(--footer-height);
    overflow-y: auto;
    overflow-x: hidden;
    height: 20rem;
    width: 20rem;
    border: 1px solid grey;
    border-top-left-radius: 0.5rem;
    resize: none;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

/*----------------------------------------------------------------------------------------------------*/

#welcomeWrapper {
    position: relative;
    margin: 1rem 20% 1rem 20%;
    border: 1px solid grey;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 1rem;
}

#toggleBtns {
    position: relative;
    display: flex;
    flex-direction: row;
    width: max-content;
    margin: 0 auto;
}

#toggleBtns>* {
    width: 4rem;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px 5px 5px 5px;
}

#toggleBtns>*:hover {
    background-color: var(--main-color);
    transition: 0.3s;
}

#togglePanel {
    position: relative;
    height: 100%;
    margin: 1rem 30% auto 30%;
}

#togglePanel>* {
    margin: 1rem;
}

#togglePanel>div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#togglePanel>div>input {
    width: 100%;
}

#togglePanel>div>p {
    font-size: 0.8rem;
}

#togglePanel>div>button {
    position: relative;
    width: max-content;
    left: 50%;
    border-radius: 5px;
    border: 1px solid grey;
}

#pwdSecurityIndicator {
    display: flex;
    flex-direction: row;
}

#pwdSecurityIndicator>* {
    height: 0.2rem;
    width: calc(100%/3);
}

/*----------------------------------------------------------------------------------------------------*/
.EditButton,
.ReplyButton {
    cursor: pointer;
    border: 1px grey solid;
    border-radius: 3px;
}

.EditButton:hover {
    color: blue;
}

.ReplyButton:hover {
    color: blue;
}

#PostFormWrapper {
    position: relative;
    margin: 1rem 2rem 1rem 2rem;
}

.showCreatePost {
    display: block !important;
}

.timeIndicator {
    position: absolute;
    right: 0;
    bottom: 0;
    color: grey;
}

.timeIndicator>span {
    font-size: 0.8rem;
}

p.timeIndicator {
    font-size: 0.8rem;
    text-align-last: end;
}


.PostUnit {
    position: relative;
    border-radius: 1rem;
    background-color: #ffffff88;
    margin: 0.3rem 8px 0.3rem 6px;
    transition: 0.5s;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.PostUnit>* {
    margin: 0.5rem;
}

.PostUnit>svg {
    margin: 0;
}

.LikeBtn {
    position: absolute;
    right: 0;
    z-index: 1;
    margin: 0.5rem !important;
}

.LikeBtn:hover {
    fill: #ff0088 !important;
    transition: 0.3s;
}

.LikeBtn:not(:hover) {
    fill: #ffffff !important;
    transition: 0.3s;
}

#PostContent {
    position: relative;
    margin: 0.3rem 8px 0.3rem 6px;
}


.ReplyUnit {
    position: relative;
    border-radius: 1rem;
    background-color: #ffffff88;
    margin: 0.3rem 8px 0.3rem 6px;
    transition: 0.5s;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.ReplyUnit>* {
    margin: 0.5rem;
}

.hideEditPost {
    display: block !important;
}

#PostFormWrapper {
    display: none;
}


@keyframes example {
    from {
        left: 0;
        width: 100%;
    }

    to {
        left: 100%;
        width: 0%;
    }
}

/*----------------------------------------------------------------------------------------------------*/
/*User*/

#UserInfo {
    display: flex;
    position: relative;
    flex-direction: column;
    height: max-content;
    width: calc(100%-4rem);
    justify-content: space-between;
    gap: 1rem;
    margin: 1rem 2rem 1rem 2rem
}

.UserInfo>a>img {
    width: 3rem;
    height: 3rem;
    border-radius: 99rem;
}

#User {
    display: grid;
    grid-template-areas: "A B" "C D" "E F";
    gap: 2rem;
    position: relative;
    height: max-content;
    width: calc(100%-4rem);
    margin: 1rem 2rem 1rem 2rem;
    line-height: 1.5rem;
}

#Detail {
    grid-area: A;
}

#Avatar {
    grid-area: B;
}

#Avatars>img {
    border-radius: 99rem;
}

#friends>img {
    border-radius: 99rem;
}

#Posts {
    position: relative;
    height: auto;
    overflow-y: auto;
    grid-area: C;
}

#Replies {
    position: relative;
    height: auto;
    overflow-y: auto;
    grid-area: D;
}

#User>* {
    position: relative;
    border-radius: 1rem;
    background-color: #ffffff88;
    transition: 0.5s;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

#User>*>* {
    margin: 0.5rem;
}



#avatar {
    display: none;
}

label[for="avatar"]:not(:hover) {
    border: 1px solid white;
    transition: 0.5s;
    cursor: pointer;
}

label[for="avatar"]:hover {
    border: 1px solid black;
    transition: 0.5s;
    cursor: pointer;
}

#updateAvatarBtn {
    display: none;
}

label[for="updateAvatarBtn"]:not(:hover) {
    border: 1px solid white;
    transition: 0.5s;
    cursor: pointer;
}

label[for="updateAvatarBtn"]:hover {
    border: 1px solid black;
    transition: 0.5s;
    cursor: pointer;
}



/*----------------------------------------------------------------------------------------------------*/
/*Chat*/
#chatInput>button {
    border-radius: 5px;
}

#topLinks {
    display: flex;
    flex-direction: column;
    height: 1.35rem;
}

#backtoChatRoomListBtn {
    position: absolute;
    top: 0;
    width: 5ch;
    margin: 0.2rem;
    border-radius: 5px;
}

#chatRoomMemberListBtn {
    position: absolute;
    top: 0;
    right: 0;
    width: 8ch;
    margin: 0.2rem;
    border-radius: 5px;
}

#chatroomList,
#chatContent {
    overflow-y: auto;
    position: relative;
    height: 15.5rem;
    margin: 0.2rem;
}

#chatContent * {
    position: relative;
}

#chatInput {
    margin: 0.2rem;
}

#chatroomList>ul>li:not(:hover) {
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
    cursor: pointer;
    transition: 0.5s;
}

#chatroomList>ul>li:hover {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    transition: 0.5s;
    cursor: pointer;
}

#chatContent>ul>li:not(:hover) {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    cursor: default;
    transition: 0.5s;
}

#chatContent>ul>li:hover {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    cursor: default;
    transition: 0.5s;
}

#sendButton {
    width: 5ch;
}

/*----------------------------------------------------------------------------------------------------*/
@media (max-width:800px) {

    header {
        bottom: 0;
        top: auto;
        height: calc(var(--header-height) * 2);
        border-radius: 0.5rem 0.5rem 0 0;
        border-top: 1px solid grey;
        border-bottom: 0;
        margin-bottom: 0;
    }

    i {
        zoom: 1.5;
    }

    main {
        margin: 0 1rem 3rem 0;
    }

    footer {
        display: none;
    }

    /*----------------------------------------------------------------------------------------------------*/
    header:nth-child(1) {
        left: 0.5rem;
    }

    #userLink {
        position: absolute;
        border-radius: 99rem;
        width: 2rem;
        height: 2rem;
        margin: calc(var(--header-height) - 1rem) calc(50% - 1rem) calc(var(--header-height) - 1rem) calc(50% - 1rem);
    }
    header>svg#chat{
        position: absolute;
        right: 64px;
    }
    header>svg#notification{
        position: absolute;
        right: 32px;
    }
    header>svg#logoutBtn{
        position: absolute;
        right: 0;
    }



    /*----------------------------------------------------------------------------------------------------*/

    .ChatWindow {
        bottom: calc(var(--header-height) * 2);
    }

    #notificationList {
        top: -27.5rem;
    }

    /*----------------------------------------------------------------------------------------------------*/
    #welcomeWrapper {
        margin: 1rem;
    }

    #togglePanel {
        margin: 1rem 20% auto 20%;
    }

    #togglePanel>div>input {
        width: 100%;
    }

    #togglePanel>div>button {
        left: 0;
        width: 100%;
    }

    /*----------------------------------------------------------------------------------------------------*/
    .timeIndicator>span {
        font-size: 0.55rem;
    }

    /*----------------------------------------------------------------------------------------------------*/
    #User {
        grid-template-areas: "A" "B" "C" "D" "E" "F";
    }

    svg {
        width: 32px;
        height: 32px;
    }
}