.EditButton,
.ReplyButton {
    cursor: pointer;
    border: 1px black solid;
    border-radius: 3px;
}

    .EditButton:hover {
        color: blue;
    }

    .ReplyButton:hover {
        color: blue;
    }

#PostFormWrapper {
    position: relative;
    margin: 1rem 2rem 1rem 2rem;
}

.showCreatePost {
    display: block !important;
}

.timeIndicator {
    position: absolute;
    right: 0;
    bottom: 0;
}

span {
    color: grey;
    font-size: 0.8rem;
}

.PostUnit {
    position: relative;
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: 3px 2px 2px black;
    margin: 0.3rem 8px 0.3rem 6px;
    background-color: lightgrey;
}

    .PostUnit:hover {
        box-shadow: inset 3px 2px 2px black;
        top: 2px;
        left: 2px;
    }

#PostContent {
    position: relative;
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: 3px 2px 2px black;
    margin: 0.3rem 8px 0.3rem 6px;
}

    #PostContent:hover {
        box-shadow: inset 3px 2px 2px black;
        top: 2px;
        left: 2px;
    }

.ReplyUnit {
    position: relative;
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: 3px 2px 2px black;
    margin: 0.3rem 8px 0.3rem 6px;
}

    .ReplyUnit:hover {
        box-shadow: inset 3px 2px 2px black;
        top: 2px;
        left: 2px;
    }

.hideEditPost {
    display: block !important;
}

#PostFormWrapper {
    display: none;
}
