.EditButton,
.ReplyButton {
    cursor: pointer;
    border: 1px black solid;
    border-radius: 3px;
}

.EditButton:hover {
    color: blue;
}

.ReplyButton:hover {
    color: blue;
}

#PostFormWrapper {
    position: relative;
    margin: 1rem 2rem 1rem 2rem;
}

.showCreatePost {
    display: block !important;
}

.timeIndicator {
    position: absolute;
    right: 0;
    bottom: 0;
}

span {
    color: grey;
    font-size: 0.8rem;
    z-index: 99;
}
/* .PostUnit::before {
    display: block;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0;
    z-index: -1;
}
.PostUnit::before:hover {
    display: block;
    position: absolute;
    background-color: yellow;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0.5;
    z-index: 1;
} */

.PostUnit {
    position: relative;
    border: 2px solid wheat;
    border-radius: 1rem;
    background-color: #ffffff88;
    margin: 0.3rem 8px 0.3rem 6px;
    transition: 0.5s;
}
/* .PostUnit:not(:hover) {
    position: relative;
    border: 1px solid white;
    border-radius: 2px;
    margin: 0.3rem 8px 0.3rem 6px;
    background-color: white;
    transition: 0.5s;
} */


/* .PostUnit:hover {
    position: relative;
    border: 1px solid black;
    transition: 0.5s;
    margin: 0.3rem 8px 0.3rem 6px;
} */

#PostContent {
    position: relative;
    margin: 0.3rem 8px 0.3rem 6px;
}


.ReplyUnit {
    position: relative;
    border: 2px solid wheat;
    border-radius: 1rem;
    background-color: #ffffff88;
    margin: 0.3rem 8px 0.3rem 6px;
    transition: 0.5s;
}
/* .ReplyUnit:not(:hover) {
    position: relative;
    border: 1px solid white;
    border-radius: 2px;
    margin: 0.3rem 8px 0.3rem 6px;
    background-color: white;
    transition: 0.5s;
} */

/* .ReplyUnit:hover {
    position: relative;
    border: 1px solid black;
    margin: 0.3rem 8px 0.3rem 6px;
    transition: 0.5s;
} */

.hideEditPost {
    display: block !important;
}

#PostFormWrapper {
    display: none;
}