.EditButton,
.ReplyButton {
    cursor: pointer;
    border: 1px black solid;
    border-radius: 3px;
}

.EditButton:hover {
    color: blue;
}

.ReplyButton:hover {
    color: blue;
}

#PostFormWrapper {
    position: relative;
    margin: 1rem 2rem 1rem 2rem;
}

.showCreatePost {
    display: block !important;
}

.timeIndicator {
    position: absolute;
    right: 0;
    bottom: 0;
}

span {
    color: grey;
    font-size: 0.8rem;
}

.PostUnit:not(:hover) {
    position: relative;
    border: 1px solid white;
    border-radius: 2px;
    margin: 0.3rem 8px 0.3rem 6px;
    background-color: white;
    transition: 0.5s;
}

.PostUnit:hover {
    border: 1px solid black;
    transition: 0.5s;
    margin: 0.3rem 8px 0.3rem 6px;
}

#PostContent {
    position: relative;
    border: 1px solid black;
    border-radius: 2px;
    margin: 0.3rem 8px 0.3rem 6px;
}


.ReplyUnit:not(:hover) {
    position: relative;
    border: 1px solid white;
    border-radius: 2px;
    margin: 0.3rem 8px 0.3rem 6px;
    background-color: white;
    transition: 0.5s;
}

.ReplyUnit:hover {
    border: 1px solid black;
    transition: 0.5s;
}

.hideEditPost {
    display: block !important;
}

#PostFormWrapper {
    display: none;
}