#UserInfo {
    display: flex;
    position: relative;
    flex-direction: row;
    height: max-content;
    width: calc(100%-4rem);
    justify-content: space-between;
    margin: 1rem 2rem 1rem 2rem;
    line-height: 1.5rem;
}

form > * {
    font-size: 0.6rem;
}

#Detail {
    position: relative;
    left: 0;
    width:49%;
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: 3px 2px 2px black;
}

    #Detail:hover {
        box-shadow: inset 3px 2px 2px black;
        top: 2px;
        left: 2px;
    }

    #Detail > * {
        margin: 4px 4px 4px 4px;
    }

#Avatar {
    position: relative;
    right: 0;
    width: 49%;
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: 3px 2px 2px black;
}

    #Avatar:hover {
        box-shadow: inset 3px 2px 2px black;
        top: 2px;
        right: -2px;
    }

    #Avatar > * {
        margin: 4px 4px 4px 4px;
    }

input {
    height: 1.5rem;
}
