#User {
    display: grid;
    grid-template-areas: "A B" "C D" "E F";
    gap: 2rem;
    position: relative;
    height: max-content;
    width: calc(100%-4rem);
    margin: 1rem 2rem 1rem 2rem;
    line-height: 1.5rem;
}

#Detail {
    grid-area: A;
}

#Avatar {
    grid-area: B;
}

#Posts {
    position: relative;
    height: 8em;
    overflow-y: auto;
    grid-area: C;
}

#Replies {
    position: relative;
    height: 8em;
    overflow-y: auto;
    grid-area: D;
}

#User>*:not(:hover) {
    position: relative;
    border: 1px solid white;
    border-radius: 2px;
    background-color: white;
    transition: 0.5s;
}

#User>*:hover {
    border: 1px solid black;
    transition: 0.5s;
}

#avatar{
    display: none;
}
label[for="avatar"]:not(:hover){
    border: 1px solid white;
    transition: 0.5s;
    cursor: pointer;
}
label[for="avatar"]:hover{
    border: 1px solid black;
    transition: 0.5s;
    cursor: pointer;
}
#updateAvatarBtn{
    display: none;
}
label[for="updateAvatarBtn"]:not(:hover){
    border: 1px solid white;
    transition: 0.5s;
    cursor: pointer;
}
label[for="updateAvatarBtn"]:hover{
    border: 1px solid black;
    transition: 0.5s;
    cursor: pointer;
}

@media (max-width:800px) {
    #User {
        grid-template-areas: "A" "B" "C" "D" "E" "F";
    }
}