#User {
    display: grid;
    grid-template-areas: "A B" "C D" "E E";
    gap: 2rem;
    position: relative;
    height: max-content;
    width: calc(100%-4rem);
    margin: 1rem 2rem 1rem 2rem;
    line-height: 1.5rem;
}

#Detail {
    grid-area: A;
}

#Avatar {
    grid-area: B;
}

#Posts {
    grid-area: C;
}

#Replies {
    grid-area: D;
}

#User > * {
    position:relative;
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: 3px 2px 2px black;
    background-color: lightgray;
}

    #User > *:hover {
        box-shadow: inset 3px 2px 2px black;
        top: 2px;
        left: 2px;
    }

    #User > * > * {
        margin: 4px 4px 4px 4px;
    }


@media (max-width:800px) {
    #User {
        grid-template-areas: "A" "B" "C" "D";
    }
}
