

#UserInfo {
    display: flex;
    position: relative;
    flex-direction: column;
    height: max-content;
    width: calc(100%-4rem);
    justify-content: space-between;
    gap:1rem;
    margin: 1rem 2rem 1rem 2rem
}
