#welcomeWrapper {
    position: relative;
    margin: 1rem 5rem 1rem 5rem;
    border: 1px solid grey;
}

#toggleBtns {
    position: relative;
    border: 1px solid grey;
    display: flex;
    flex-direction: row;
    width: max-content;
    margin: 0 auto;
}

    #toggleBtns > * {
        width: 4rem;
        background-color: white;
        border: 1px grey solid;
        transition: 0.3s;
    }

        #toggleBtns > *:hover {
            background-color: lightgrey;
            transition: 0.3s;
        }

#togglePanel {
    position: relative;
    border: 1px solid grey;
    width: min-content;
    height: 100%;
    margin: 1rem auto;
}

    #togglePanel > * {
        margin: 1rem;
    }

    #togglePanel > div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

        #togglePanel > div > button {
            position: relative;
            width: 4rem;
            left: 70%;
        }

        #togglePanel > div > p {
            font-size: 0.8rem;
        }

#pwdSecurityIndicator{
    display: flex;
    flex-direction: row;
}
    
        #pwdSecurityIndicator > * {
            height:0.2rem;
            width: calc(100%/3);
        }