#welcomeWrapper {
    position: relative;
    margin: 1rem 5rem 1rem 5rem;
}

#toggleBtns > * {
    background-color: white;
    border: 1px grey solid;
    transition: 0.3s;
}

    #toggleBtns > *:hover {
        background-color: lightgrey;
        transition: 0.3s;
    }
